#!/bin/bash

pgm="${0##*/}"
pgm_dir="${0%/*}"
conffile="${pgm_dir}/${pgm%.sh}.conf"
# if [ -r "${conffile}" ] ; then
	# source "${conffile}"
# fi

### Configuration
##
#

thisvar=thisval
thatvar=thatval

##
###
